<footer class="container footer_container text-center">
    <span><a href="#">About us</a></span>
    <span class="copyright">&copy; <%=Time.now.year%> <a href="javascript:void(0);">Quizzcafe</a></span>

    <!--<div class="facebook_follow">-->
      <!--Follow us on <a href="https://www.facebook.com/Top3Faces-710547832316543/" target="_blank"><%= image_tag("fb.png", :alt => "Follow us") %></a>-->
    <!--</div>-->
</footer>