<header class="container header_container">
  <div class="row">
    <div class="col-md-12 flexcenter">
      <%= link_to image_tag("logo.png", :class =>'hidden-xs logo', :alt => "Quizzcafe logo", width: 150), root_path %>
      <div class="create_quiz">
        <a href="#">Create Quiz</a>
      </div>
    </div>
  </div>
</header>